<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalhes</title>
    </head>

<body>
	<h2>Detalhe do produto: <%= productFound.name %></h2>

		<div>
			<img src="/images/products/<%= productFound.image %>" alt="product image">
			<p><%= productFound.description %></p>
			
			<h2><%= productFound.name %></h2>
			<p><%= formatPrice(productFound.price) %></p>
			<a href="/products/edit/<%= productFound.id %>">EDITAR PRODUTO</a>
			
			<form action="/products/delete/<%= productFound.id %>?_method=DELETE" method="POST">
				<button type="submit">APAGAR</button>
			</form>
</body>

</html>